<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
<link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
<link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
<link href="/static/assets/css/argon-design-system.css?v=1.2.2" rel="stylesheet" />
<link rel="stylesheet" href="/static/assets/owlcorusel/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/assets/owlcorusel/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/assets/demo/demo.css">
<link href="/static/assets/css/aos.css" rel="stylesheet" />